.remove-default-btn {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.edit-color {
    color: #333;
}

.post-link {
    text-decoration: none;
}

.post-text {
    padding-top: 0.5rem;
}

.post-img {
    float: left;
    margin-right: 1rem;
}

.post-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.child-comment {
    margin-left: 2rem;
}

.notification-badge {
    transition: 0.3s;
}

.notification-badge:hover {
    cursor: pointer;
    opacity: 0.75;
    transition: 0.3s;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    background-color: #f1f1f1;
    min-width: 350px;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0, 2);
    z-index: 1;
    font-size: 0.9rem;
}

.dropdown-content a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown-item-parent {
    position: relative;
    display: block;
}

.dropdown-item-close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.8rem;
    padding-right: 5px;
    transition: 0.3s;
}

.dropdown-item-close:hover {
    color: rgb(180, 25, 25);
    transition: 0.3s;
    cursor: pointer;
}

.inbox-icon-container {
    margin-right: 15px;
}

.inbox-icon {
    color: #333;
    transition: 0.5s;
}

.inbox-icon:hover {
    transition: 0.5s;
}

.empty-text {
    color: #777;
    font-size: 1.5rem;
    text-align: center;
}

.sent-message {
    background-color: #f3f3f3;
    border-radius: 30px;
    padding: 10px 25px;
    width: 25%;
}

.received-message {
    background-color: rgb(1, 196, 255);
    color: #fff;
    border-radius: 30px;
    padding: 10px 25px;
    width: 25%;
    float: right;
}

.message-receiver-container {
    margin-left: auto;
    margin-right: 0;
}

.message-image {
    border-radius: 10px;
    max-width: 35%;
    height: auto;
}

.inbox-icon {
    margin-right: 5px;
}

.share-btn {
    cursor: pointer;
}

.share-post {
    margin-left: 30px;
}

.body a {
    text-decoration: none;
}

